<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="irisrest.ZPM">
    <Module>
      <Name>irisrest</Name>
      <Version>1.2.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="App.PKG"/>
     
       <CSPApplication 
        Url="/crud/task"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="App.REST"
        CookiePath="/crud/task"
        UseCookies="2"
       />

       <CSPApplication 
        Url="/csp/task"
        Recurse="1"
        DeployPath="{$cspdir}/task"
        SourcePath="/web"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        ServeFiles="1"
        CookiePath="/csp/task"
        UseCookies="2"
       />

    </Module>
    
  </Document>
</Export>